<form method="post" action="/form_post">
<input type="text" name="User" value="UMAPATHI K" placeholder="Add your name">
<br>
<br>
<input type="date" name="Date"  placeholder="Add Date">
<br>
<br>
<input type="text" name="Project" value="Reebok" placeholder="Add Project">
<br>
<br>
<input type="text" name="Category" value="Task">
<br>
<br>
<textarea name="Comments" placeholder="comments" ></textarea>
<br>
<br>

  start Time<input type="time" name="startTime">
    <select name="starttime" >
  <option value="AM">AM</option>
  <option value="PM">PM</option>
</select>
  <br>

  <br>
 End Time <input type="time" name="endTime"> 
   <select name="endtime" >
  <option value="AM">AM</option>
  <option value="PM">PM</option>
</select>
  <br>
  <br>

<button>Get XLXS</button>
</form>
